<section>
  <div class="bar-graph-size">
    <ngx-charts-bar-vertical [view]="viewPortSize"
                             [xAxis]="true"
                             [yAxis]="true"
                             [results]="recycledMaterialsData"
                             [gradient]="false"
                             [legend]="false"
                             [legendTitle]="'Legenda'"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxisLabel]="'Materiaal'"
                             [yAxisLabel]="'Herwonnen kilo\'s'"
                             [yScaleMax]="yScaleMax"
                             [animations]="true"
                             [scheme]="colorScheme"> </ngx-charts-bar-vertical>
  </div>
  <div class="pie-chart-size">
    <ngx-charts-pie-chart [view]="pieSize"
                          [results]="pieData()"
                          [doughnut]="doughnut"
                          [arcWidth]="pieArcWidth"
                          [scheme]="colorScheme"></ngx-charts-pie-chart>
  </div>
</section>
