@import "styles-variables";

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

app-bar-graph {
  .advanced-pie-legend {
    .total-value {
      display: none;
    }

    .total-label {
      display: none;
    }

    .legend-items-container .legend-items  .legend-item {
      .item-label, .item-value {
      font-size: 12px;
      }
      .item-percent {
        font-size: 14px;
      }
    }
  }
}

